{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="{%static 'styles/auth.css'%}">
    <!-- Стили и дополнительные теги -->
</head>
<body>
    <div class="login-page">
    <div class="title">Вход</div>
    <div class="form">        
        <form class="login-form" method="post">
          {% csrf_token %}
          {%if error%}
            <div class="error">{{error}}</div>
          {%endif%}
          <input type="text" placeholder="Email" name="email"/>
          <input type="password" placeholder="Пароль" name="password"/>
          <button>Войти</button>
          <input type="hidden" name="next" value="{{ next }}" />
          <button class="btn btn-outline-info" style="margin-top: 20px;">
              <a href="{% provider_login_url 'google'%}?next=/">
                  <i class="fab fa-google"></i>
                  войти через Google
              </a>
          </button>
          <p class="message">Нет аккаунта? <a href="{%url 'polls:register'%}">Регистрация</a></p>
          <p class="message">Забыли пароль? <a href="{%url 'polls:request_password_reset'%}">Восстановить</a></p>
          <p class="message"><a href="{%url 'polls:home'%}">Главная</a></p>
        </form>
      </div>
    </div>
</body>
</html>


