{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{%static 'styles/auth.css'%}">
    <!-- Стили и дополнительные теги -->
</head>
<body>
    <div class="login-page">
    <div class="title">Регистрация</div>
    <div class="form">
        <form class="login-form" method="post">
          {% csrf_token %}
          {%if error%}
            <div class="error">{{error}}</div>
          {%endif%}
          <input type="text" placeholder="Email" name="email" minlength="9" maxlength="200" required/>
          <input type="text" placeholder="Имя пользователя" name="username" minlength="1" maxlength="50" required/>          
          <input type="password" placeholder="Пароль" name="password" minlength="5" maxlength="50" required/>          
          <button>Продолжить</button>
          <input type="hidden" name="next" value="{{ next }}" />
          <button class="btn btn-outline-info" style="margin-top: 20px;">
              <a href="{% provider_login_url 'google'%}?next=/">
                  <i class="fab fa-google"></i>
                  войти через Google
              </a>
          </button>
          <p class="message">Есть аккаунт? <a href="{%url 'polls:login'%}">Войти</a></p>
          <p class="message"><a href="{%url 'polls:home'%}">Главная</a></p>

        </form>        
      </div>
    </div>
</body>
</html>


