<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сброс Пароля Запрошен</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }
        .container {
            width: 70%;
            margin: auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Сброс Пароля Запрошен</h1>
        <p>Инструкции по сбросу пароля были отправлены на вашу электронную почту. Пожалуйста, проверьте вашу почту и следуйте указаниям для установки нового пароля.</p>
    </div>
</body>
</html>
